Repository tamaracha/eleventy-plugin-html-validate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w -u, eslint, markdownlint-cli2

Add readme and license
  LICENSE.txt
  README.md
Due: prettier -w -u, markdownlint-cli2

Add code
  index.js
Due: prettier -w -u, eslint

Add minimal sample
  .eleventy.js
  .eslintignore
  .gitignore
  .htmlvalidate.js
  .markdownlint-cli2.yaml
  .prettierignore
  package-lock.json
  package.json
  sample/_includes/base.njk
  sample/index.md
Due: prettier -w -u, eslint, markdownlint-cli2

Accept a HTML-validate config object given in the plugin options
  .eleventy.js
  index.js
Due: prettier -w -u, eslint

Add usage instructions in readme
  README.md
Due: prettier -w -u, markdownlint-cli2

Update to html-validate v8
  index.js
  package-lock.json
  package.json
Due: prettier -w -u, eslint

Add better html-validate config and split it into multiple files to demonstrate merge
  .htmlvalidate.js
  sample/.htmlvalidate.js
Due: prettier -w -u, eslint

Remove config option, fully concentrate on config files
  index.js
Due: prettier -w -u, eslint

Fix missing lang attribute in layout
  sample/_includes/base.njk
Due: prettier -w -u

Update readme
  README.md
Due: prettier -w -u, markdownlint-cli2

Update eslint and require at least node v16
  package-lock.json
  package.json
Due: prettier -w -u

Add changelog
  CHANGELOG.md
Due: prettier -w -u, markdownlint-cli2

Path conditions:
  prettier -w -u: any of: *
  eslint: any of: *.js
  markdownlint-cli2: any of: *.md
